<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Google map Integration  [ add API key in index.html ]</span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container">
  <div class="controls">

    <p>Control Initial Zoom Level</p>
    <mat-slider class="example-margin" [max]="max" [min]="min" [thumbLabel]="thumbLabel" [tickInterval]="tickInterval"
      [(ngModel)]="zoomValue" (change)="zoomLevel(zoomValue)" [vertical]="vertical">
    </mat-slider>

    <div>
      <mat-checkbox class="example-margin" (click)="enableDarkMode()" [checked]="isDarkTheme">Night Mode</mat-checkbox>
   </div>

   <div>
      <mat-checkbox class="example-margin" (click)="showPixelAndCoordinates()">Showing Pixel and Tile Coordinates</mat-checkbox>
   </div>

   <div>
      <mat-checkbox class="example-margin" (click)="geolocation()">Geolocation</mat-checkbox>
   </div>
   

  </div>
  <div #gmap id="map"></div>
</div> 
